* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.hidden {
    visibility: hidden;
}

body {
    background-color: #ebf7fc;
}


/*mobile design and tablet */

#heading-1 {
    background-color: #32adeb;
    background-position: center;
    width: 100%;
    height: 100vh;
}


    #heading-1 h4 {
        font-family: 'Open Sans', sans-serif;
        color: white;
        left: 50%;
        bottom: 8%;
        width: 100px;
    }

#arrow {
    position: absolute;
    left: 45%;
    bottom: 10%;
}

#openingText {
    display: flex;
    justify-content: center;
    color: #071f14;
    font-size: 4.5vh;
    border: solid #35f89d;
    border-radius: 6px;
    padding: 10px;
    top: 60px;
}


#mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 65px;
    align-content: center;
    align-items: center;
}

#form-container {
    margin-top: 10px;
}

#form-container1 {
    width: 225px;
    height: 115px;
    background-color: #ff0000;
    margin-bottom: 15px;
}

#form-1 {
    width: 100%;
}


#zipEnter {
    width: 50px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#form-container1 #form-1 #submitbox {
    width: 25%;
}

#form-container-2 {
    width: 225px;
    height: 150px;
    background-color: #9900ff;
    margin-bottom: 15px;
}

#form-container2 #form-2 #zipSubmit {
    width: 25%;
}

#form-container-3 {
    width: 225px;
    height: 115px;
    background-color: #c8ff00;
}

h2 {
    font-size: 2vh;
}


.image-results {
    display: flex;
    justify-content: center;
}

    .image-results img {
        width: auto;
        height: 225px;
        border: 1px solid;
        border-radius: 2px;
        padding: 10px;
        box-shadow: 5px 10px #88888886;
        margin-bottom: 10px;
    }

.resultsHide {
    display: none;
}

option {
    background-color: #002f94;
    color: white;
    font-family: 'Lato', sans-serif;
}

#listUL {
    display: flex;
    flex-direction: column;
    list-style: none;
    outline-style: none;
}

    #listUl li {
        border: black solid 2px;
    }

.container {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 50px;
}

    .container h3 {
        padding-left: 10px;
        padding-top: 10px;
        font-size: 3vh;
    }

    .container li {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .container p {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 2vh;
        font-family: 'Lato', sans-serif;
    }


#map {
    display: none;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 500px;
    height: 600px;
    width: 300px;
}

/*desktop */

@media only screen and (min-width: 760px) {
    .image-results {
        justify-content: flex-start;
        padding-left: 10px;
    }

        .image-results img {
            width: auto;
            height: 400px;
        }

    .container {
        margin-bottom: 195px;
    }

    h3 {
        margin-top: 50px;
    }
}
